body {
    font-family: MiSans;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
     position: relative;
    min-height: 100vh;
    margin: 0;
}

.a {
    text-align: center;
}

.b {
    max-width: 100%;
    height: auto;
}

.description {
    margin-top: 10px;
    font-size: 24px;
}

.c {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}

.eeeeee {

    position: fixed;

    bottom: 10px;

    right: 10px;

    font-size: 12px;

    color: #666;

    z-index: 999; 

}
.d {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    display: flex;
    align-items: center;
}

.github-link img {
    width: 30px; 
    height: auto;
    margin-right: 5px; 
}
